/**
 * Top level variables - these could be in their own file or set of files.
 */
html {
  --color-primary: rgb(34, 139, 230);
  --color-danger: rgb(250, 82, 82);
  --color-danger-light: rgb(255, 245, 245);
  --color-dark: rgba(0, 0, 0, 0.85);
  --color-white: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-white);
}

.app-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--color-dark);
}

h1 {
  font-size: 3rem;
  color: var(--color-primary);
  margin: 2rem 0 1rem 0;
}

p {
  margin: 1.5rem 0 0.3rem 0;
}

code {
  font-size: 1rem;
}

.sr-only {
  display: none;
}

.button-link {
  border: none;
  background-color: unset;
  cursor: pointer;
  color: var(--color-primary);
  font-size: inherit;
}
